<div class="row">
    @if (isLoader) {
        <div class="col-12 text-center">
            <div class="spinner-border text-muted"></div>
            <div class="spinner-border text-muted"></div>
            <div class="spinner-border text-muted"></div>
            <div class="spinner-border text-muted"></div>
        </div>
    }
    @else{
        @for (item of designationList; track $index) {
            <div class="col-3 mx-4 my-2 p-3">
                <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">{{item.designation}}</h4>
                      <p class="card-text">Some example text. Some example text.</p>
                      <a href="#" class="card-link">Edit</a>
                      <a href="#" class="card-link">delete</a>
                    </div>
                  </div>
    
            </div>
    
        }
    }
</div>