<div class="row">
    <div class="col-12 mx-4 my-2 p-3">
        <table class="table table-bordered">
            <thead >
                <tr>
                    <th>Sr Id</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of roleList; let srno=index">
                    <td>{{ srno+1 }}</td>
                    <td>{{ item.role }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
